.side-bar {
    width: 25%;
    /* border: 1px solid grey; */
    /* position: relative; */
}

.main-container {
    width: 75%;
    /* margin: 20px auto; */
    /* border: 1px solid grey; */
    padding-left: 10px;
}