.container {
    display: flex;
    margin: 20px;
}


/* 
.request-container {
    display: flex;
} */

#request-type {
    padding: 10px 10px 10px 2px;
    border: none;
    background-color: #ECECEC;
    /* border-right: 1px; */
}

#url-field {
    padding: 10px;
    width: 72%;
    /* border: 1px solid rgb(51, 49, 49); */
    border: none;
    background-color: #ECECEC;
    /* margin-left: 0px; */
}

#submit-btn {
    padding: 9px 30px;
    background-color: #097BED;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.tabs ul {
    display: flex;
    /* margin: 10px 20px; */
    margin-top: 10px;
    background-color: #FAFAFA;
}

.tab-items {
    /* margin: 0px 20px; */
    margin-right: 50px;
    list-style: none;
    padding: 10px;
    border: none;
    background-color: #FAFAFA;
    color: #888;
    cursor: pointer;
}

.tab-items.active {
    border-bottom: 5px solid #F26B3A;
    color: #505050;
}

#add-key-value-pair-params,
#add-key-value-pair-header {
    border-color: #04AA6D;
    color: green;
    background-color: white;
    padding: 8px 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 4px;
}

.keys,
.values {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remove-btn {
    padding: 9px 20px;
    border-color: red;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
}

textarea {
    width: 88%;
    height: 30vh;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    overflow: scroll;
}

.tab-content textarea {
    height: 20vh;
    padding-left: 0px;
}

#response {
    width: 88%;
    height: 30vh;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    overflow: scroll;
}


/* .tab-links {
    padding: 10px;
    border: none;
    background-color: #FAFAFA;
    color: #888;
    cursor: pointer;
}



.tab-panel-btn {
    border-color: #04AA6D;
    color: green;
    background-color: white;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.tab-panel-btn {
    display: none;
}

.tab-panel-btn.active {
    display: block;
} */